* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-image: linear-gradient(#9ba9eb, #c3caea);
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.inputs-container {
  background-color: #5763a5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .inputs-container {
    display: flex;
    flex-direction: row;
  }
}

.logo {
  height: 150px;
  width: 400px;
  margin-bottom: 20px;
}

.password-manager-image {
  width: 500px;
  height: 500px;
  margin-bottom: 50px;
}

.form {
  background-color: #454f84;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

@media screen and (min-width: 768px) {
  .form {
    order: -1;
  }
}

.add-password-heading {
  align-self: flex-start;
  color: #f8fafc;
  font-family: Roboto;
  font-weight: 500;
}

.input {
  background-color: #f8fafc;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.input-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.input-element {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  border-left: 2px solid #9ba9eb;
  padding-left: 20px;
}

.add-button {
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 5px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Roboto;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.passwords-container {
  background-color: #5763a5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.your-passwords-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 5px solid #9ba9eb;
}

.no-passwords-image {
  width: 600px;
  height: 600px;
}

.your-passwords {
  color: #ffffff;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
}

.filter-container {
  align-self: flex-end;
  margin-top: 20px;
}

.no-passwords-heading {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  margin-top: 50px;
}
